.services-item
	+offset()
	&__inner
		+relative()
		background-color: #fff
		z-index: 1
		overflow: hidden
		padding: 30px 15px
		+min(sm)
			min-height: 400px

		+min(md)
			padding: 30px
			min-height: 450px

	&__image
		+absolute(null, 0)
		z-index: -1
		height: 100px

	&:nth-child(1) &__image,
	&:nth-child(2) &__image
		top: 0

	&:nth-child(3) &,
	&:nth-child(4) &
		&__image
			bottom: 0
		&__inner
			background-color: #f6f6f6

	+min(md)
		&:nth-child(1) &__image
			height: 200px

		&:nth-child(2) &__image
			height: 250px

		&:nth-child(3) &__image
			height: 300px

		&:nth-child(4) &__image
			height: 200px


	&__title
		+font('l')
		line-height: 1.1
		font-size: 25px
		margin-bottom: 15px

		+min(md)
			margin-bottom: 30px
			font-size: 30px

		+min(lg)
			min-height: 80px
			font-size: 36px

	&__content
		margin-bottom: 30px
		p
			+offset(15px)

		+min(md)
			min-height: 200px