<section class="section home-secret">
	<div class="container">
		{{siteMacros.titleSection( post.get_field('secret_title'), 'home-secret__title' )}}
		<div class="home-secret__content row">
			{% for item in post.get_field('secret_items') %}
				{{
					siteMacros.icon('col-12 col-sm-4 icon_center', item.image, item.title, item.content)
				}}
			{% endfor %}
		</div>
	</div>
</section>