<section class="home-services">
	<div class="container">
		{{siteMacros.titleSection( post.get_field('services_title'), 'home-services__title' )}}
		<div class="row">
			{% for item in post.get_field('services_items') %}
				{{
					siteMacros.servicesItem('col-12 col-sm-6', item)
				}}
			{% endfor %}
		</div>
	</div>
</section>