<section class="home-calendar background" style="background-image: url({{post.get_field('calendar_bg')}})">
	<div class="container">
		{{siteMacros.titleSection( post.get_field('calendar_title'), 'home-reason__title' )}}
		<p class="home-calendar__subtitle">{{post.get_field('calendar_subtitle')}}</p>
		{{function('do_shortcode', '[tribe_events]')}}
	</div>
</section>