<section class="home-calendar background" style="background-image: url({{post.get_field('calendar_bg')}})">
	<div class="container">
		{{siteMacros.titleSection( post.get_field('calendar_title'), 'home-calendar__title' )}}
		<p class="section__subtitle">{{post.get_field('calendar_subtitle')}}</p>
	</div>
</section>