.header
	+relative()
	+blackout()
	background-size: cover
	+padding-y(60px)

	+min(sm)
		+padding-y(100px)

	+min(md)
		+padding-y(150px)

	+min(lg)
		+padding-y(200px)

	+min(xlg)
		+padding-y(250px)

	&__content
		text-align: center
		color: $color-white
	
	@at-root
		%title
			+font('l')
			text-transform: uppercase

	&__subtitle
		@extend %title
		font-size: 20px
		margin-bottom: 30px

		+min(xs)
			font-size: 25px

		+min(md)
			font-size: 28px	

		+min(lg)
			margin-bottom: 45px
			font-size: 30px

	&__title
		@extend %title
		margin-bottom: 15px
		font-size: 30px

		+min(sm)
			font-size: 40px

		+min(md)
			font-size: 50px	

		+min(lg)
			margin-bottom: 5px
			font-size: 65px