+b('nav')
	+e('logo')
		font-size: 0

		+max(md)
			display: flex
			align-items: center
			justify-content: space-between
		
		img
			width: auto
			vertical-align: middle
			
			+max(md)
				max-height: 35px