+b('nav')
	+e("menu")
		+ee("item")
			display: block

			+transition()

			a
				display: block
				position: relative
				color: #fff
				text-decoration: none
				text-transform: uppercase
				font-size: 14px
				+font('b')

			&.current-menu-item a
				color: $color-brand-2
				&:before,
				&:after
					width: 100%
				+min(md)
					color: $color-brand-1

			+max(md)
				margin-bottom: 10px

				a
					padding: 10px 15px


			+min(md)
				display: inline-block
				vertical-align: middle

				&:not(:last-child)
					margin-right: 15px

				a
					padding-top: 3px
					padding-bottom: 3px

					+linkEffect3