<section class="section format">
	<div class="container">
		{{siteMacros.titleSection( post.get_field('price_format_title'), 'format__title' )}}
		<div class="format__content row">
			{{
				siteMacros.format(
					'format-item_1', 
					post.get_field('format_image'), 
					post.get_field('format_title'), 
					post.get_field('format_content')
				)
			}}
			{{
				siteMacros.format(
					'format-item_2', 
					post.get_field('price_image'), 
					post.get_field('price_title'), 
					post.get_field('price_content')
				)
			}}
		</div>
		{{siteMacros.buttonModal()}}
	</div>
</section>