.background
	+relative()
	+blackout()
	+bg-inner-padding()
	z-index: 1
	color: $color-white
	background-size: cover
	
	+min(lg)
		@media only screen
			background-attachment: fixed

	.wpcf7-text
		max-width: 260px
		background-color: transparent
		color: $color-white
		+placeholder
			color: $color-white

	.wpcf7-form-control-wrap
		+max(sm)
			margin-bottom: 10px
		+min(sm)
			margin-right: 10px