.background
	+relative()
	+blackout()
	+bg-inner-padding()
	z-index: 1
	color: $color-white
	background-size: cover
	
	+min(lg)
		@media only screen
			background-attachment: fixed

	.wpcf7-text
		
		background-color: transparent
		color: $color-white
		+placeholder
			color: $color-white

		+min(sm)
			max-width: 260px

	[type="submit"]
		+max(sm)
			width: 100%

	.wpcf7-form-control-wrap
		+max(sm)
			display: block
			margin-bottom: 10px
		+min(sm)
			margin-right: 10px