+b("section")
	+margin-y(45px)

	+min(md)
		+margin-y(60px)

	+min(lg)
		+margin-y(90px)

	&__title
		margin-bottom: 30px
		line-height: 1.1
		font-size: 25px
		text-align: center
		text-transform: uppercase
		font-weight: normal
		+font('l')

		+min(xs)
			font-size: 28px

		+min(sm)
			font-size: 30px
			margin-bottom: 45px

		+min(md)
			font-size: 32px	

		+min(lg)
			margin-bottom: 60px
			font-size: 36px

	&__subtitle
		margin-bottom: 30px
		line-height: 1.1
		font-size: 20px
		text-align: center
		+font('l')

		+min(sm)
			font-size: 22px

		+min(lg)
			font-size: 24px

	&__button-outer
		text-align: center
		margin-top: 45px

		+min(md)
			margin-top: 60px

	&__subtitle
		text-align: center