<section class="section">
	<div class="container">
		{{siteMacros.titleSection( post.get_field('price_title') )}}
		<p class="section__subtitle">{{post.get_field('price_subtitle')}}</p>
		{{siteMacros.buttonModal()}}
	</div>
</section>