<section class="section">
	<div class="container">
		{{siteMacros.titleSection( post.get_field('format_title') )}}
		<div class="row">
			{% for icon in post.get_field('format_items') %}
				{{
					siteMacros.icon('col-12 col-sm-4 icon_type-1', icon.image, icon.title, icon.content)
				}}
			{% endfor %}
		</div>
		{{siteMacros.buttonModal("Заказать обучение")}}
	</div>
</section>