.format__table

	&-column
		+padding-x(15px)
		flex-basis: 100%
		
		+max(sm)
			+offset(45px)
			&_1
				display: none

		+min(sm)
			+padding-x(5px)
			flex-basis: 0
			flex-grow: 1
			&_1
				flex-grow: 2

	&-title
		display: flex
		justify-content: center
		align-items: center
		height: 60px
		font-size: 15px

		text-transform: uppercase
		+font('b')
		line-height: 1
		
		&_1
			background-color: #f4f4f4
			color: $color-black
		&_2
			background-color: #76c5cc
			color: $color-white
		&_3
			background-color: #1e919b
			color: $color-white

			&_1
				justify-content: flex-start
				padding-left: 30px

		+min(sm)
			font-size: 17px

		+min(md)
			&_1
				font-size: 20px

	&-body
		margin-bottom: 10px
		padding: 30px 15px
		background-color: $color-white

		&_shadow
			box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.15)
			+min(sm)
				box-shadow: 0px 35px 30px 0px rgba(0, 0, 0, 0.27)

	&-list
		list-style: none
		+font('l')

		+min(sm)
			font-size: 16px

		+min(md)
			font-size: 18px

		&-li
			+max(sm)
				display: none
				+offset(15px)
				br
					display: none
				&_1
					display: block

			+min(sm)
				// display: flex
				// align-items: center
				// justify-content: center
				min-height: 50px
				margin-bottom: 10px

				&_1
					text-align: center

				&:last-child
					min-height: 150px

			+min(md)
				min-height: 90px
				&:nth-child(4)
					min-height: 80px

		&_1
			text-align: right

		&_1 li
			+min(sm)
				justify-content: flex-end

		&-check
			display: none
			
			&_1
				display: inline-block
				+size(20px)
				+min(md)
					+size(26px)
				+bg('../img/icon-check-1.svg')

		&-hidden
			display: block
			+min(sm)
				display: none

		&-content
			font-size: 12px

	&-footer

		&_1
			+min(sm)
				padding-right: 10px

		&-item
			display: flex
			align-items: center
			justify-content: center
			text-align: center
			height: 70px
			font-size: 17px
			+offset(10px)
			+font('b')

			&_shadow
				background-color: $color-white
				box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.15)
				+min(sm)
					box-shadow: 0px 35px 30px 0px rgba(0, 0, 0, 0.27)

			+min(sm)
				&_1
					text-align: right
					justify-content: flex-end

			+min(md)
				font-size: 20px
				height: 65px

			&-span
				display: block
				font-size: 14px
				+font('l')
				+min(sm)
					display: none

	&-addition
		text-align: center
		margin-top: 30px

		+min(sm)
			margin-top: 90px