.home-header
	display: flex
	align-items: center
	justify-content: center
	+relative()
	overflow: hidden
	z-index: 1
	font-size: 0

	+max(sm)
		padding-top: 130px

	+min(md)
		min-height: 100vh

	&__part
		+absolute(0)
		+size(45%, 100%)
		+blackout()

		img
			max-width: none
			object-fit: cover
			width: 100%

			+max(sm)
				height: 100%

		&_1
			left: 0
			clip-path: polygon(0 0, 75% 0%, 100% 100%, 0% 100%)
			z-index: 3

		&_2
			top: -10px
			left: 30%
			clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%)
			z-index: 2
			+min(sm)
				top: -20px

		&_3
			top: -20px
			left: 60%
			clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%)
			z-index: 1
			+min(sm)
				top: -40px
			
	&__container
		z-index: 4

		+min(md)
			margin-top: 220px

	&__quote
		+margin-y(45px, 60px)

		line-height: 1.1
		font-style: italic
		+font('l')
		color: $color-white
		text-align: center
		font-size: 16px

		+min(sm)
			font-size: 20px
			+margin-y(60px, 120px)

		+min(md)
			margin-top: 90px
			font-size: 22px

		+min(lg)
			margin-top: 100px
			font-size: 24px

	.header__title

		+min(lg)
			font-size: 100px