.home-time
	@at-root
		%home-time-title-offset
			text-align: left
			margin-bottom: 30px
	&__title
		@extend %home-time-title-offset
	&__subtitle
		@extend %home-time-title-offset

	+min(sm)
		.wpcf7 form > p
			display: flex